body {
    font-family:  Helvetica, Arial, sans-serif;
    margin: 0;
}
.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

ul {
    list-style: none;
    display: flex; 
}

a {
    text-decoration: none;
    color: #f9faf8 ;
    font-size: 12px;
    font-weight: 100;
    margin-left: 15px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 80px 150px;
    justify-content:space-between;
    align-items: center;
}

.herocontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

h4 {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

.button1 {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    border: 0px;
    padding: 8px 25px;

}

.heroimage {
    width: auto;
    height: 200px;
    flex: 1;
}

.info {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 50px 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: rgb(92, 91, 91);
}
.pic {
    width: auto;
    height: 200px;
    margin: 10px 0px;
    border: #124a97 solid;
    border-width: 3px;
    border-radius: 5px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px 250px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}
strong {
    text-align: right;
    margin-right: 50px;
}

.bluecontainer {
    display: flex;
    justify-content: center;
    margin: 50px;
    
}
.attention {
    background-color: #3882f6;
    color: #f9faf8;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 50px 150px;
}
.action {
    display: flex;
    flex-direction: column;
    flex: 1;
}
h3, h5 {
    margin: 0px;
}
.button2 {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border-color: #f9faf8;
    border-style: solid;
    padding: 5px 20px;
    height: 30px;
    font-weight: bold;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding: 30px; 
}